#item-list-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #item{
        border: 1px solid black;
        width: 200px;
        height: 400px;
        margin: 2px;
        font-size: 2vh;

    }
}
